{{define "title"}}{{ .Title }}{{end}}
{{define "description"}}$description${{end}}
{{define "keywords"}}$tags${{end}}

{{define "main"}}
<article>
  <h2>{{ .Post.Title }}</h2>
  $body$
  <time datetime="$date$">{{ translateDate .Lang .Post.Date }}</time>
  <div class="tags">
    <h4>
      {{ translateKeyword .Lang tags}}:
    </h4>
    <nav>
      {{ range $index, $tag := .Post.Tags }}
      <a href="/tags/{{ $tag }}">{{ translateKeyword $.Lang $tag }}</a> {{ if not (lastOne $index (len $.Post.Tags)) }}·{{ end }}
      {{ end }}
    </nav>
  </div>
</article>
{{end}}
