{{define "title"}}Test 2{{end}}
{{define "path"}}/posts/test2{{end}}
{{define "description"}}This is about the quadratic formula and an okay blog site{{end}}
{{define "keywords"}}math history linux{{end}}

{{define "main"}}
<article>
  <h2>Test 2</h2>
  <h1>h1 is cool</h1>
  <h2>so is h2</h2>
  <p><span class="math display">\frac{-b + \sqrt{b^2 - 4 a c}}{2a}</span></p>
  <p>this is <em>half</em> of the quadratic formula. The rest is missing a <strong>minus</strong>.</p>
  <p>check out this <a href="https://alexscerba.com" target="_blank" rel="noopener noreferrer">site</a></p>
  <time datetime="2002-03-17">Sunday, March 17, 2002</time>
</article>
{{end}}
