{{define "title"}}{{ translateKeyword .Lang "about" }}{{end}}
{{define "description"}}My name is Ángel Castañeda, and I'm an undergrad student based out of Milwaukee, WI. My main field of study is actuarial science, but I like learning way more than just that.{{end}}
{{define "keywords"}}{{ translateKeyword .Lang "about" }}{{end}}

{{define "main"}}
<h2>
  {{ translate .Lang "about me" "conóceme" "ich über mich" }}
</h2>
<figure class="pfp">
  <img src="/static/img/cantorselfie.jpg" alt="selfie with me and dr. georg cantor" title="c = 2^{\aleph_0}">
  <figcaption>
    &lbrace;{{ translate .Lang
    "me" 
    "yo" 
    "ich"}}&rbrace;∪&lbrace;cantor&rbrace;
  </figcaption>
</figure>
<p>
  {{ translate .Lang
  `My name is Ángel Castañeda, and I'm an undergrad student based out of
    Milwaukee, WI. My main field of study is actuarial science, but I like
    learning way more than just that. Math and humanities are the coolest things
    to learn about (but really, <a href="/static/files/LockhartsLament.pdf" 
    target="_blank" rel="noopener noreferrer">math is a humanity</a>.) Most of
    my real joy comes from talking to maniacs though.`  
  `Mi nombre es Ángel Castañeda, y soy un estudiante de la ciencia actuarial de 
    los estados unidos en Milwaukee, WI. Me encanta aprender cosas nuevas como 
    <a href="/static/files/LockhartsLament.pdf" target="_blank" rel="noopener 
    noreferrer">las matemáticas</a> y la historia, pero me gusta más hablar con 
    los extranjeros o los viejitos, especialmente si puedo practicar mi español 
    con algien más que solo mi ma.`
  `Hallo. Ich heiße Engel Castañeda. Ich studiere Mathe in die Vereinigten 
    Staaten in Milwaukee, WI. Ich lerne gern neue Sachen, aber ich treffe gern 
    tolle Leute. Ich habe Deutschland, Österreich, und die Schweiz dreimal 
    besucht. Ich habe Cantor, Leibniz, Hilbert, und Gauß getruffen. Deutsche 
    sind sehr cool B-)` }}
</p>
<h4>
  {{ translate .Lang
  "i also like"
  "también me gusta"
  "ich mag auch"}}...
</h4>
<ul>
  <li>
    {{ translate .Lang 
    `insightful <a href="/library">books</a>` 
    `<a href="/library">libros</a> chidos` 
    `sehr gute <a href="/library">Bücher</a>` }} 
  </li>
  <li>
    {{ translate .Lang 
    "learning German" 
    "aprender alemán" 
    "Deutsch" }}
  </li>
  <li>
    <a href="{{ .Song }}" target="_blank" rel="noopener noreferrer">rock n roll🎸</a> shuffled by 32bit integers <details class="inline"> <summary>[{{ .TrackIndex }}]</summary>
      <p><a href='/about'>🔄</a> then 🎧</p> 
    </details>
  </li>
  <li>
    {{ translate .Lang 
    "taking interesting <a href='/tags/photos'>photos</a>" 
    "tomar <a href='/tags/photos'>fotos</a> caminando"
    "Fotographie" }}
  </li>
  <li>
    {{ translate .Lang
    "finding passionate, independent people"
    "la gente apasionada"
    "passionierte Menschen" }}
  </li>
  <li>
    {{/* god, spanish can be so concise */}}
    {{ translate .Lang
    "becoming more independent myself"
    "independizarme" 
    "Selbstständig werden" }}
  </li>
</ul>
<p>
  This website is a collection of outlets for my disjointed interests.
  Sometimes I like to think of myself as an attempting polymath, but I'm
  just very unfocused. What I really want is to find a way pay back the debt for
  everything I've been given in life so far.
</p>
<h4>
  {{ translate .Lang "résumé" "currículum vitae" "lebenslauf" }}:
</h4>
<p>
  Everyone's got theirs on their personal site, so here's <a href="/todo">mine</a>.
</p>
{{end}}
