{{define "title"}}{{ translate .Lang "about" "conóceme" "ich über mich"}}{{end}}
{{define "description"}}My name is Ángel Castañeda, and I'm an undergrad student based out of Milwaukee, WI. My main field of study is actuarial science, but I like learning way more than just that.{{end}}
{{define "keywords"}}{{ translate .Lang "about" "conóceme" "ich über mich"}}{{end}}

{{define "main"}}
<h2>
  {{ translate .Lang
  "about" 
  "conóceme" 
  "ich über mich"}}
</h2>
<figure class="pfp">
  <img src="/static/img/cantorselfie.jpg" alt="selfie with me and dr. georg cantor" title="c = 2^{\aleph_0}">
  <figcaption>
    &lbrace;{{ translate .Lang
    "me" 
    "yo" 
    "ich"}}&rbrace;∪&lbrace;cantor&rbrace;
  </figcaption>
</figure>
<p>
  {{ translate .Lang
  `My name is Ángel Castañeda, and I'm an undergrad student based out of
  Milwaukee, WI. My main field of study is actuarial science, but I like
  learning way more than just that. Math and humanities are the coolest things
  to learn about (but really, `  
  `Mi nombre es Ángel Castañeda, y soy un estudiante de la ciencia actuaria de los
  estados unidos en Milwaukee, WI. Me encanta aprendiendo cosas nuevas como matemáticas,
  `
  "Hallo" }}
  <a href="/static/files/LockhartsLament.pdf" target="_blank" rel="noopener noreferrer">
  {{ translate .Lang
  "math is a humanity"
  "matemáticas es una humanidad"
  "Mathe ist sehr cool"}}</a>.)
</p>
<h4>
  {{ translate .Lang
  "i also like"
  "también me gusta"
  "ich mag auch"}}...
</h4>
<ul>
  <li>{{ translate .Lang `insightful <a href="/library">books</a>` `<a href="/library">libros</a> chidos` `Bücher` }} </li>
  <li>learning German</li>
  <li>
    <a href="{{ .Song }}" target="_blank" rel="noopener noreferrer">rock n roll</a> shuffled by 32bit integers <details> <summary>[{{ .TrackIndex }}]</summary>
      <p><a href="{{ .Scheme }}://{{ translate .Lang "www" "es" "de" }}.{{ .Domain }}{{ .Path }}">refresh</a> then listen 🎸</p> 
    </details>
  </li>
  <li>taking interesting <a href="/tags/photos">photos</a></li>
  <li>finding passionate, independent people</li>
  <li>becoming more independent myself</li>
</ul>
<p>
  This website is a collection of outlets for my disjointed interests.
  Sometimes I like to think of myself as an attempting polymath, but I'm
  just very unfocused. What I really want is to find a way pay back the debt for
  everything I've been given in life so far.
</p>
<h4>
  {{ translate .Lang "résumé" "currículum vitae" "lebenslauf" }}:
</h4>
<p>
  Everyone's got theirs on their personal site, so here's <a href="/todo">mine</a>.
</p>
{{end}}
