{{define "title"}}About{{end}}
{{define "path"}}/about{{end}}
{{define "description"}}about My name is Ángel Castañeda, and I'm an undergrad student based out of Milwaukee, WI. My main field of study is actuarial science, but I like learning way more than just that.{{end}}
{{define "keywords"}}about{{end}}

{{define "main"}}
<h2>
  about
</h2>
<figure class="pfp">
  <img src="/static/img/cantorselfie.jpg" alt="selfie with me and georg cantor" title="c = 2^{\aleph_0}">
  <figcaption>
    {Me}∪{Cantor}
  </figcaption>
</figure>
<p>
  My name is Ángel Castañeda, and I'm an undergrad student based out of
  Milwaukee, WI. My main field of study is actuarial science, but I like
  learning way more than just that. Math and humanities are the coolest things
  to learn about (but really, <a
  href="/static/files/LockhartsLament.pdf" target="_blank" rel="noopener noreferrer">
  math is a humanity</a>.)  
</p>
<h4>
  i also like...
</h4>
<ul>
  <li>insightful <a href="/library">books</a></li>
  <li>learning German</li>
  <li>rock n roll</li>
  <li>taking interesting <a href="/photos">photos</a></li>
  <li>finding passionate, independent people</li>
  <li>becoming more independent myself</li>
</ul>
<p>
  This website is a vague union of outlets for my disjointed interests.
  Sometimes I like to think of myself as an attempting polymath, but I'm
  just very unfocused. My real hope is to someday be understood more from the
  things I produce than the content I consume.
</p>
<h4>
  contact:
</h4>
<p>
  If you'd like to discuss (or correct) a particular posts I wrote, 
  I provide links for easy reply-to emails at the end of each one.
  If you just wanna get in contact with me, you can email <a 
  href="mailto:angelaxel1420@disroot.org">
  angelaxel1420@disroot.org</a>.
</p>
{{end}}
