{{define "title"}}{{ translateKeyword .Lang "friends" }}{{end}}
{{define "description"}}Here's where I feature all my friends that have cool sites of their own.{{end}}
{{define "keywords"}}{{ translateKeyword .Lang "friends" }}{{end}}

{{define "main"}}
<h2>
  {{ translate .Lang "my friends" "mis amigos" "meine freunde" }}
</h2>
<p>
  At least the ones cool enough to have their own sites.
</p>

<div class="friend">
  <a href="https://alexscerba.com" target="_blank" rel="noopener noreferrer">
    <img src="/static/img/scerb_favicon.ico" alt="Scerba Logo" class="favicon">
    <h4>a_scerba</h4>
  </a>
  <p>
    Very cool tinkerer I grew up with that likes skiing, bookbinding, and hoarding ThinkPads.
    Go check out his car designs!
  </p>
</div>

<div class="friend">
  <a href="https://angelsaremathematical.neocities.org" target="_blank" rel="noopener noreferrer">
    <img src="/static/img/sonya_favicon.png" alt="Sonya Logo" class="favicon">
    <h4>Sofia</h4>
  </a>
  <p>
    Despite sucking up all my angel math SEO, this awesome neocities site run 
    by my friend Sofia shows just how awesome old '90s sites really are.
  </p>
</div>

<div class="friend">
  <a href="http://johnbilkey.com" target="_blank" rel="noopener noreferrer">
    <img src="/static/img/bilkey_favicon.ico" alt="Bilkey Logo" class="favicon">
    <h4>John Bilkey</h4>
  </a>
  <p>
    Few sites can tout blackberry AND Internet Explorer compatibility. Even 
    fewer have such an extensive library of original, 
    <a href="https://scratch.mit.edu" target="_blank" rel="noopener noreferrer">scratch</a>
    written videogames.
  </p>
</div>

<div class="friend">
  <a href="https://harrison.something" target="_blank" rel="noopener noreferrer">
    <img src="/static/img/harrison_favicon.png" alt="Harrison Logo" class="favicon">
    <h4>Harrison</h4>
  </a>
  <p>
    My roommate and best friend's future site.
  </p>
</div>
{{end}}
