{{define "title"}}Friends{{end}}
{{define "path"}}/friends{{end}}
{{define "description"}}my friends {{end}}
{{define "keywords"}}friends{{end}}

{{define "main"}}
<h2>my friends</h2>
<p>
  Not being the only one with this weird hobby is cool enough.
</p>
<table class="favicon">
  <tr>
    <td>
      <a href="https://alexscerba.com" target="_blank" rel="noopener noreferrer">
        <img src="/static/img/scerb_favicon.ico" alt="Scerba Logo">
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="https://angelsaremathematical.neocities.org" target="_blank" rel="noopener noreferrer">
        <img src="/static/img/sonya_favicon.png" alt="Sonya Logo">
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://johnbilkey.com" target="_blank" rel="noopener noreferrer">
        <img src="/static/img/bilkey_favicon.ico" alt="Bilkey Logo">
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="https://harrisonswarren.com" target="_blank" rel="noopener noreferrer">
        <img src="/static/img/harrison_favicon.png" alt="Harrison Logo">
      </a>
    </td>
  </tr>
</table>
{{end}}
