{{define "title"}}{{ translate .Lang "homepage" "inicio" "startseite" }}{{end}}
{{define "description"}}{{ translate .Lang
  `Hey, thanks for visiting my site. Here's where I share some of what I do 
  with my time.`
  `Muchas gracias por visitar mi sitio. El español fue mi primer idioma, pero 
  ahora lo hablo medio tarugo. Quiero seguir usandolo más en mi vida.`
  `Hallo. Mein Deutsch ist nicht gut. Ich will mehr Deutsch üben.` }}{{end}}
{{define "keywords"}}{{ translateKeyword .Lang "home" }}{{end}}

{{define "main"}}
<p>
  {{ template "description" . }}
</p>
<div class="double">
  <div class="pane">
    <h4>
      {{ translate .Lang
      "recent photo"
      "foto reciente"
      "aktuelles foto"}}:
    </h4>
    <figure>
      <a href="/posts/a_cool_pic">
        <img src="https://preview.redd.it/hdnwdw6jy2f81.jpg?width=1024&auto=webp&v=enabled&s=49a4b3cd118b59d5a59c92dd4a34740311ffa7ed" alt="a frosty stroll">
      </a>
    </figure>
    <a href="/tags/photos" class="block center">
      <strong>
        &gt;{{ translate .Lang
        "see more"
        "ver más"
        "mehr sehen"}}
      </strong>
    </a>
    <h4>
      {{ translate .Lang
      "my friends"
      "mis amigos"
      "meine freunde"}}:
    </h4>
    <table class="favicon">
      <tr>
        <td>
          <a href="https://alexscerba.com" target="_blank" rel="noopener noreferrer">
            <img src="/static/img/scerb_favicon.ico" alt="Scerba Logo">
          </a>
        </td>
        <td>
          <a href="https://angelsaremathematical.neocities.org" target="_blank" rel="noopener noreferrer">
            <img src="/static/img/sonya_favicon.png" alt="Sonya Logo">
          </a>
        </td>
        <td>
          <a href="http://johnbilkey.com" target="_blank" rel="noopener noreferrer">
            <img src="/static/img/bilkey_favicon.ico" alt="Bilkey Logo">
          </a>
        </td>
        <td>
          <a href="https://harrisonswarren.com" target="_blank" rel="noopener noreferrer">
            <img src="/static/img/harrison_favicon.png" alt="Harrison Logo">
          </a>
        </td>
      </tr>
    </table>
    <a href="/friends" class="block center">
      <strong>
        &gt;{{ translate .Lang
        "check them out"
        "visítelos"
        "schau sie dir an"}}
      </strong>
    </a>
  </div>
  <div class="pane">
    <h4>
      {{ translate .Lang
      "recent articles"
      "artículos recientes"
      "aktuelle artikel"}}:
    </h4>
    <ul>
      {{ range .Posts }}
      <li><a href="/posts/{{ .FileName }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    <a href="/tags/articles" class="block center">
      <strong>
        &gt;{{ translate .Lang
        "read more"
        "leer más"
        "mehr lesen"}}
      </strong>
    </a>
    <h4>
      {{ translate .Lang
      "my library"
      "mi biblioteca"
      "meine bibliothek"}}:
    </h4>
    <figure class="bookcover">
      <img src="/static/img/catcher_in_the_rye.jpg" alt="The Catcher in the Rye">
    </figure>
    <p>
      {{ translate .Lang
      "A bunch of different authors and genres I like learning and being inspired from."
      "Los libros que me han inspirado y enseñedo mucho."
      "Meine Lieblingsbücher." }}
    </p>
    <a href="/library" class="block center">
      <strong>
        &gt;{{ translate .Lang
        "my books"
        "mis libros"
        "meine bücher"}}
      </strong>
    </a>
  </div>
</div>
{{end}}
