{{define "title"}}{{ translateKeyword .Lang "library" }}{{end}}
{{define "description"}}Here's where I show off all my books in my head or in my bookshelf or both.{{end}}
{{define "keywords"}}{{ translateKeyword .Lang "library" }}{{end}}

{{define "main"}}
<h2>
  {{ translateKeyword .Lang "library" }}
</h2>
<figure class="pfp loc">
  <img src="/static/img/library_card.webp" alt="my library of congress card with a little paper to hide my signature and barcode" title="ideal for fake id">
  <figcaption>
    {{ translate .Lang
    "library of congress card"
    "tarjeta de la biblioteca del congreso de los estados unidos"
    "ausweis der kongressbibliothek"}}
  </figcaption>
</figure>
<p>
  This collection is an incomplete venn diagram of books that I own or have
  read or both. Most books here are filled with varying amounts of knowledge
  with some really just being for entertainment; even with all of that, a small
  handful of them are truly epiphanic, and my life would be less meaningful
  without having read them.
</p>
<p>
  I love talking about cool books. Feel free to email me about anything on here,
  and given that I've read it, I will share my thoughts and discuss.
</p>
<ul class="library">
  <li>Abelson, Harold and Sussman, Gerald Jay with Sussman, Julie - <em>Structure and Interpretation of Computer Programs: Second Edition</em></li>
  <li>Adams, Douglas and Carwardine, Mark - <em>Last Chance to See</em></li>
  <li>Adams, Douglas - <em>The Hitchhiker's Guide to the Galaxy</em></li>
  <li>Aurelius, Marcus - <em>Meditations</em></li>
  <li>Austen, Jane - <em>Pride and Prejudice</em></li>
  <li>Bailey, Thomas - <em>The American Pageant: A History of the Republic</em></li>
  <li>Beard, Mary - <em>SPQR: A History of Ancient Rome</em></li>
  <li><em>Beowulf</em>, translated by Raffel, Burton</li>
  <li>Black, David A. and Leo, Joseph - <em>The Well-Grounded Rubyist: Third Edition</em></li>
  <li>Blumenthal, Max - <em>Goliath: Life and Loathing in Greater Israel</em></li>
  <li>Bodner, Jon - <em>Learning Go: An Idiomatic Approach to Real World Go Programming</em></li>
  <li>Bradbury, Ray - <em>Fahrenheit 451</em></li>
  <li>Bradbury, Ray - <em>The Martian Chronicles</em></li>
  <li>Brands, H.W. - <em>Traitor to His Class: The Privileged Life and Radical Presidency of Franklin Delano Roosevelt</em></li>
  <li>Bryant, Victor - <em>Yet Another Introduction to Analysis</em></li>
  <li>Burke, Edmund - <em>Reflections on the Revolution in France</em></li>
  <li>Camus, Albert - <em>The Myth of Sisyphus</em></li>
  <li>Camus, Albert - <em>The Stranger</em></li>
  <li>Card, Orson Scott - <em>Ender's Game</em></li>
  <li>Card, Orson Scott - <em>Ender's Shadow</em></li>
  <li>le Carré, John - <em>The Spy Who Came in from the Cold</em></li>
  <figure class="bookcover">
    <img src="/static/img/books/don_quixote.jpeg" alt="Don Quixote Cover">
  </figure>
  <li>de Cervantes, Miguel - <em>Don Quixote Part I</em></li>
  <li>de Cervantes, Miguel - <em>Don Quixote Part II</em></li>
  <li>Chaucer, Geoffrey - <em>The Canterbury Tales</em></li>
  <li>Chomsky, Noam - <em>Hegemony or Survival: America's Quest for Global Dominance</em></li>
  <li>Chomsky, Noam and Herman, Edward S. - <em>Manufacturing Consent: The Political Economy of the Mass Media</em></li>
  <li>Chomsky, Noam - <em>Pirates and Emperors, Old and New: International Terrorism in the Real World</em></li>
  <li>Chomsky, Noam - <em>The Essential Chomsky</em></li>
  <li>Chomsky, Noam - <em>Who Rules the World?</em></li>
  <li>Conrad, Joseph - <em>Heart of Darkness</em></li>
  <li>Cortázar, Julio - <em>Rayuela</em></li>
  <li>Crichton, Michael - <em>Dragon Teeth</em></li>
  <li>Crichton, Michael - <em>Jurassic Park</em></li>
  <li>Crichton, Michael - <em>Prey</em></li>
  <li>Crichton, Michael - <em>The Lost World</em></li>
  <li>Dawkins, Richard - <em>The Blind Watchmaker: Why the Evidence of Evolution Reveals a Universe without Design</em></li>
  <li>Dawkins, Richard - <em>The God Delusion</em></li>
  <li>Dawkins, Richard - <em>The Selfish Gene</em></li>
  <li>Diamond, Jared - <em>Guns, Germs, and Steel: The Fates of Human Societies</em></li>
  <li>Dostoevsky, Fyodor - <em>Crime and Punishment</em></li>
  <li>Douglas, Frederick - <em>Narrative of the Life of Frederick Douglass, an American Slave</em></li>
  <li>Dumas, Alexandre - <em>The Count of Monte Cristo</em></li>
  <li>Duncan, Mike - <em>Hero of Two Worlds: The Marquis de Lafayette in the Age of Revolution</em></li>
  <li>Durrell, Martin - <em>Hammer's German Grammar and Usage: Seventh Edition</em></li>
  <li>Ellis, Bret Easton - <em>American Psycho</em></li>
  <li>Euclid, illustrated by Byrne, Oliver - <em>Elements of Euclid: The First Six Books with Coloured Diagrams and Symbols</em></li>
  <li>Figes, Orlando - <em>Revolutionary Russia, 1891-1991: A History</em></li>
  <li>Fizgerald, F. Scott - <em>The Great Gatsby</em></li>
  <li>Fizgerald, F. Scott - <em>This Side of Paradise</em></li>
  <li>Flanagan, David - <em>Javascript: The Definitive Guide, Seventh Edition</em></li>
  <li>Foer, Jonathan Safran - <em>Everything is Illuminated</em></li>
  <li>Foer, Jonathan Safran - <em>Extremely Loud &amp; Incredibly Close</em></li>
  <li>Frank, Anne - <em>The Diary of a Young Girl</em></li>
  <li>Frank, Thomas - <em>What's the Matter with Kansas? How Conservatives Won the Heart of America</em></li>
  <li>Gaiman, Neil - <em>American Gods</em></li>
  <li>Goodwin, Doris Kearns - <em>Team of Rivals: The Political Genius of Abraham Lincoln</em></li>
  <li>Golding, William - <em>Lord of the Flies</em></li>
  <li>Graeber, David - <em>Bullshit Jobs: A Theory</em></li>
  <li>Graham, Paul - <em>ANSI Common Lisp</em></li>
  <li>Graham, Paul - <em>Hackers and Painters: Big Ideas from the Computer Age</em></li>
  <li>Graves, Robert - <em>I, Claudius</em></li>
  <li>Greenwald, Glenn - <em>How Would a Patriot Act? Defending American Values from a President Run Amok</em></li>
  <figure class="bookcover">
    <img src="/static/img/books/mythology.jpeg" alt="Mythology Cover">
  </figure>
  <li>Hamilton, Edith - <em>Mythology: Timeless Tales of Gods and Heroes</em></li>
  <li>Hansen, Harry - <em>The Civil War: A History</em></li>
  <li>Hansen, Valerie - <em>The Open Empire: A History of China to 1600</em></li>
  <li>Harari, Yuval Noah - <em>Sapiens: A Brief History of Humankind</em></li>
  <li>Haverbeke, Marijn - <em>Eloquent Javascript, 3rd Edition: A Modern Introduction to Programming</em></li>
  <li>Hawking, Stephen - <em>A Brief History of Time</em></li>
  <li>Hawking, Stephen - <em>The Universe in a Nutshell</em></li>
  <li>Heller, Joseph - <em>Catch-22</em></li>
  <li>Herbert, Frank - <em>Dune</em></li>
  <li>Hesse, Hermann - <em>Siddhartha</em></li>
  <li>Homer - <em>The Iliad</em></li>
  <li>Homer - <em>The Odyssey</em></li>
  <li>Hosseini, Khaled - <em>A Thousand Splendid Suns</em></li>
  <li>Hosseini, Khaled - <em>And the Mountains Echoed</em></li>
  <li>Hosseini, Khaled - <em>The Kite Runner</em></li>
  <li>Hugo, Victor - <em>Les Misérables (english)</em></li>
  <li>Huxley, Aldous - <em>Brave New World</em></li>
  <li>Huxley, Aldous - <em>Island</em></li>
  <li>Immerwahr, Daniel - <em>How to Hide an Empire: A History of the Greater United States</em></li>
  <li>Isenberg, Nancy - <em>White Trash: The 400-Year Untold History of Class in America</em></li>
  <figure class="bookcover">
    <a href="https://youtu.be/4UX6tzE7P44" target="_blank" rel="noopener noreferrer">
      <img src="/static/img/books/never_let_me_go.jpg" alt="Never Let Me Go Cover">
    </a>
  </figure>
  <li>Ishiguro, Kazuo - <em>Never Let Me Go</em></li>
  <li id="featured">James, C.L.R. - <em>The Black Jacobins: Tousaint L'Ouverture and the San Domingo Revolution</em></li>
  <li>Jefferson, Thomas - <em>The Jefferson Bible</em></li>
  <li>Kafka, Franz - <em>Der Prozess</em></li>
  <li>Kafka, Franz - <em>The Metamorphosis</em></li>
  <li>Kafka, Franz - <em>The Trial</em></li>
  <li>Kehlmann, Daniel - <em>Measuring the World</em></li>
  <li>Kernighan, Brian W. and Ritchie, Dennis M. - <em>The C Programming Language</em></li>
  <li>Kernighan, Brian W. and Ritchie, Dennis M. - <em>The C Programming Language: Second Edition</em></li>
  <li>King Jr., Martin Luther - <em>Why We Can't Wait</em></li>
  <li><em>La Santa Biblia</em></li>
  <li>Lawrence, Jerome and Lee, Robert E. - <em>Inherit the Wind</em></li>
  <li>Lepore, Jill - <em>The Whites of their Eyes: The Tea Party's Revolution and the Battle over American History</em></li>
  <li>Lewis, C.S. - <em>Out of the Silent Planet</em></li>
  <li>Lewis, C.S. - <em>Perelandra</em></li>
  <li>Lewis, C.S. - <em>That Hideous Strength</em></li>
  <!-- insane that the trilogy is in alphebetical order -->
  <li>Lockhart, Paul - <em>A Mathematician's Lament: How School Cheats Us Out of Our Most Fascinating and Imaginative Art Form</em></li>
  <li>Lovell, Julia - <em>Maoism: A Global History</em></li>
  <li>Lucretius - <em>On the Nature of Things</em></li>
  <li>Machiavelli, Niccoló - <em>The Prince</em></li>
  <li>Márquez, Gabriel García - <em>Cien años de soledad</em></li>
  <li>Martin, George R.R. - <em>A Clash of Kings</em></li>
  <li>Martin, George R.R. - <em>A Dance with Dragons</em></li>
  <li>Martin, George R.R. - <em>A Feast for Crows</em></li>
  <li>Martin, George R.R. - <em>A Game of Thrones</em></li>
  <li>Martin, George R.R. - <em>A Storm of Swords</em></li>
  <!--between two intellecuals-->
  <li>Marx, Karl and Engels, Friedrich - <em>The Communist Manifesto</em></li>
  <li>Marx, Karl - <em>Das Kapital (english)</em></li>
  <li>Matheson, Richard - <em>I Am Legend</em></li>
  <li>McCarthy, Cormac - <em>Blood Meridian</em></li>
  <li>McCarthy, Cormac - <em>No Country for Old Men</em></li>
  <li>McCarthy, Cormac - <em>The Passenger</em></li>
  <li>McCarthy, Cormac - <em>The Road</em></li>
  <li>McDowell, Josh - <em>More Than a Carpenter</em></li>
  <li>Metz, Sandi - <em>Practical Object-Oriented Design in Ruby: An Agile Primer</em></li>
  <li>Mitchell, Margaret - <em>Gone with the Wind</em></li>
  <li>Morrison, Toni - <em>Beloved</em></li>
  <figure class="bookcover">
    <img src="/static/img/books/kafka_on_the_shore.gif" alt="Kafka on the Shore Cover" title="Kafka sits in a chair by the shore, Thinking of the pendulum that moves the world, it seems.">
  </figure>
  <li>Murakami, Haruki - <em>Kafka on the Shore</em></li>
  <li>Murakami, Haruki - <em>Norwegian Wood</em></li>
  <li>Novick, Peter - <em>The Holocaust in American Life</em></li>
  <li>Orwell, George - <em>Animal Farm</em></li>
  <li>Orwell, George - <em>Burmese Days</em></li>
  <li>Orwell, George - <em>Down and Out in Paris and London</em></li>
  <li>Orwell, George - <em>Homage to Catalonia</em></li>
  <li>Orwell, George - <em>Nineteen Eighty-Four</em></li>
  <li>Orwell, George - <em>Rebelión en la granja</em></li>
  <li>Orwell, George - <em>1984 (deutsch)</em></li>
  <li>Orwell, George - <em>1984 (español)</em></li>
  <li>Orwell, George - <em>The Road to Wigan Pier</em></li>
  <li>Paine, Thomas - <em>Age of Reason</em></li>
  <li>Paine, Thomas - <em>Common Sense</em></li>
  <li>Paine, Thomas - <em>Rights of Man</em></li>
  <li>Paxton, Robert O. - <em>The Anatomy of Fascism</em></li>
  <li>Pinter, Charles C. - <em>A Book of Abstroct Algebra: Second Edition</em></li>
  <li>Pirsig, Robert M. - <em>Zen and the Art of Motorcycle Maintenance: An Inquiry into Values</em></li>
  <li>Plato - <em>The Republic</em></li>
  <li>Pratchett, Terry and Gaiman, Neil - <em>Good Omens</em></li>
  <li>Rand, Ayn - <em>Atlas Shrugged</em></li>
  <li>Rand, Ayn - <em>The Fountainhead</em></li>
  <li>Sagan, Carl - <em>Contact</em></li>
  <figure class="bookcover">
    <img src="/static/img/books/the_little_prince.jpeg" alt="The Little Prince Cover">
  </figure>
  <li>de Saint-Exupéry, Antoine - <em>The Little Prince</em></li>
  <li>Salinger, J.D. - <em>The Catcher in the Rye</em></li>
  <li>Seneca - <em>Letters from a Stoic</em></li>
  <li>Shakespeare, Willam - <em>The Complete Works of William Shakespeare</em></li>
  <li>Shelley, Mary - <em>Frankenstein; or, The Modern Promethius</em></li>
  <li>Shirer, William L. - <em>The Rise and Fall of the Third Reich: A History of Nazi Germany</em></li>
  <li>Sinclair, Upton - <em>The Jungle</em></li>
  <li>Snyder, Timothy - <em>Bloodlands: Europe Between Hitler and Stalin</em></li>
  <li>Steinbeck, John - <em>Of Mice and Men</em></li>
  <li>Steinbeck, John - <em>The Pearl</em></li>
  <li>Süskind, Patrick - <em>Das Parfum: Die Geschichte enes Mörders</em></li>
  <li>Süskind, Patrick - <em>Perfume: The Story of a Murderer</em></li>
  <li>Taleb, Nassim Nicholas - <em>Antifragile: Things That Gain from Disorder</em></li>
  <li><em>The Apocryphal Gospels</em></li>
  <li><em>The Articles of Confederation</em></li>
  <li><em>The Holy Bible: King James Version</em></li>
  <li><em>The New American Bible</em></li>
  <li>Thoreau, Henry David - <em>Civil Disobedience</em></li>
  <li>Thoreau, Henry David - <em>Walden</em></li>
  <li>Tolkien, J.R.R. - <em>Der kleine Hobbit</em></li>
  <li>Tolkien, J.R.R. - <em>The Fellowship of the Ring</em></li>
  <li>Tolkien, J.R.R. - <em>The Hobbit</em></li>
  <li>Tolkien, J.R.R. - <em>The Return of the King</em></li>
  <li>Tolkien, J.R.R. - <em>The Two Towers</em></li>
  <li>Tolstoy, Leo - <em>Anna Karenina</em></li>
  <figure class="bookcover">
    <img src="/static/img/books/the_english_and_their_history.jpeg" alt="The English and their History Cover">
  </figure>
  <li>Tombs, Robert - <em>The English and their History</em></li>
  <li>Trouillot, Michel-Rolph - <em>Silencing the Past: Power and the Production of History</em></li>
  <li>Trudeau, Richard - <em>Introduction to Graph Theory</em></li>
  <li>Trump, Donald and Schwarz, Tony - <em>The Art of the Deal</em></li>
  <li>Twain, Mark - <em>Adventures of Huckleberry Finn</em></li>
  <li>Twain, Mark - <em>Die schreckliche deutsche Sprache</em></li>
  <li>Twain, Mark - <em>The Adventures of Tom Sawyer</em></li>
  <li>Twain, Mark - <em>The Awful German Language</em></li>
  <li>Vonnegut, Kurt - <em>Slaughterhouse-Five, or the Children's Crusade</em></li>
  <li>Wallace, Lew. - <em>Ben-Hur: A Tale of the Christ</em></li>
  <li>Ward, Brian - <em>How Linux Works: What Every Superuser Should Know, 3rd Edition</em></li>
  <li>Wells, H.G. - <em>The Time Machine</em></li>
  <li>Wells, H.G. - <em>The War of the World</em></li>
  <li>Williams, Tennessee - <em>A Streetcar Named Desire</em></li>
  <li>Yanagihara, Hanya - <em>A Little Life</em></li>
  <li>Zeihan, Peter - <em>The Absent Superpower: The Shale Revolution and a World Without America</em></li>
  <li>Zürcher, Erik J. - <em>Turkey: A Modern History</em></li>
  <li>Zweig, Stefan - <em>Shooting Stars: Ten Historic Miniatures</em></li>
  <li>Zweig, Stefan - <em>Sternstunden der Menschheit: Zwölf historische Miniaturen</em></li>
</ul>
<p>
  {{ translateHTML .Lang
  `Think a book belongs here? <a href="mailto:`
  `¿Tiene una recomendación paraque lea en español? <a href="mailto:`
  `Send mir eine Buchempfehlung: <a href="mailto:` }}
  {{- .Email -}}
  {{ translateHTML .Lang
  `?subject=Book Suggestion">Evangelize it to me</a>!`
  `?subject=Recomendación de libro">Mándame un correo electroníco</a>.`
  `?subject=Neues Buch">Schick mir eine E-Mail</a>.` }}
</p>
{{end}}
