{{define "title"}}{{ translate .Lang "posts" "entradas" "posten"}}{{end}}
{{define "description"}}{{ translate .Lang
  "Here's all my posts from every format, topic, and language."
  "Estas son todas mis publicaciones de mi sitio."
  "Hier sind meine Posten."}}{{end}}
{{define "keywords"}}{{ translate .Lang "posts" "entradas" "posten"}}{{end}}

{{define "main"}}
<div class="rss">
  <h2>
    {{ translate .Lang 
    "posts"
    "entradas"
    "posten"}}
  </h2><a href="/todo"><img src="/static/img/rss.svg" alt="RSS Logo" class="rss"></a>
</div>
<p>
  {{ translate .Lang
  "Here's all my posts from every format, topic, and language."
  "Estas son todas mis publicaciones de mi sitio."
  "Hier sind meine Posten."}}
</p>
<ul>
  {{ range .Posts -}}
  <li><a href="/posts/{{ .FileName }}">{{ .Title }}</a></li>
  {{ end -}}
</ul>
<div class="tags">
  <h4>
    {{ translate .Lang 
    "search by medium"
    "buscar por medio"
    "nach medium suchen" }}:
  </h4>
  <nav class="block center">
    <a href="/tags/articles">{{ translateTag .Lang "articles" }}</a> ·
    <a href="/tags/photos">{{ translateTag .Lang "photos" }}</a>
  </nav>
</div>
<div class="tags">
  <h4>
    {{ translate .Lang
    "search by topic"
    "buscar por tema"
    "nach thema suchen" }}:
  </h4>
  <nav class="block center">
    <a href="/tags/history">{{ translateTag .Lang "history" }}</a> ·
    <a href="/tags/math">{{ translateTag .Lang "math" }}</a> ·
    <a href="/tags/milwaukee">{{ translateTag .Lang "milwaukee" }}</a> ·
    <a href="/tags/personal">{{ translateTag .Lang "personal" }}</a> ·
    <a href="/tags/technology">{{ translateTag .Lang "technology" }}</a>
  </nav>
</div>
<div class="tags">
  <h4>
    {{ translate .Lang
    "search by language"
    "buscar por idioma"
    "nach sprache suchen" }}:
  </h4>
  <nav class="block center">
    <a href="/tags/english">{{ translateTag .Lang "english" }}</a> ·
    <a href="/tags/spanish">{{ translateTag .Lang "spanish" }}</a> ·
    <a href="/tags/german">{{ translateTag .Lang "german" }}</a>
  </nav>
</div>
{{end}}
