{{define "title"}}{{ translate .Lang "posts" "publicaciones" "posten"}}{{end}}
{{define "description"}}Here's where I post all my photos, articles, and all the rest.{{end}}
{{define "keywords"}}{{ translate .Lang "posts" "publicaciones" "posten"}}{{end}}

{{define "main"}}
<div class="rss">
  <h2>
    {{ translate .Lang 
    "posts"
    "publicaciones"
    "posten"}}
  </h2><a href="/todo"><img src="/static/img/rss.svg" alt="RSS Logo" class="rss"></a>
</div>
<p>
  Here's where I post all my photos, articles, and all the rest.
</p>
<ul>
  {{ range .Posts -}}
  <li><a href="/posts/{{ .FileName }}">{{ .Title }}</a></li>
  {{ end -}}
</ul>
<div class="tags">
  <h4>
    search by medium:
  </h4>
  <nav class="block center">
    <a href="/tags/articles">{{ translateTag .Lang "articles" }}</a> ·
    <a href="/tags/photos">{{ translateTag .Lang "photos" }}</a>
  </nav>
</div>
<div class="tags">
  <h4>
    search by topic:
  </h4>
  <nav class="block center">
    <a href="/tags/milwaukee">{{ translateTag .Lang "milwaukee" }}</a> ·
    <a href="/tags/math">{{ translateTag .Lang "math" }}</a> ·
    <a href="/tags/history">{{ translateTag .Lang "history" }}</a> ·
    <a href="/tags/personal">{{ translateTag .Lang "personal" }}</a>
  </nav>
</div>
<div class="tags">
  <h4>
    search by language:
  </h4>
  <nav class="block center">
    <a href="/tags/english">{{ translateTag .Lang "english" }}</a> ·
    <a href="/tags/spanish">{{ translateTag .Lang "spanish" }}</a> ·
    <a href="/tags/german">{{ translateTag .Lang "german" }}</a>
  </nav>
</div>
{{end}}
