{{define "title"}}{{ translateKeyword .Lang "posts" }}{{end}}
{{define "description"}}{{ translate .Lang
  "Here's all my posts from every format, topic, and language."
  "Estas son todas mis publicaciones de mi sitio."
  "Hier sind meine Posten."}}{{end}}
{{define "keywords"}}{{ translateKeyword .Lang "posts" }}{{end}}

{{define "main"}}
<div class="rss">
  <h2>
    {{ translateKeyword .Lang "posts" }}
  </h2><a href="/atom.xml"><img src="/static/img/rss.svg" alt="RSS Logo" class="rss" title="Atom Feed"></a>
</div>
<p>
  {{ template "description" . }}
</p>
<details class="filter">
  <summary><h4 class="inline">{{ translate .Lang "filters" "filtros" "filter" }}:</h4></summary>
  <div class="tags">
    <h4>
      {{ translate .Lang 
      "search by medium"
      "buscar por medio"
      "nach inhalt suchen" }}:
    </h4>
    <nav>
      <a href="/tags/articles">{{ translateKeyword .Lang "articles" }}</a> ·
      <a href="/tags/photos">{{ translateKeyword .Lang "photos" }}</a>
    </nav>
  </div>
  <div class="tags">
    <h4>
      {{ translate .Lang
      "search by topic"
      "buscar por tema"
      "nach thema suchen" }}:
    </h4>
    <nav>
      <a href="/tags/code">{{ translateKeyword .Lang "code" }}</a> ·
      <a href="/tags/history">{{ translateKeyword .Lang "history" }}</a> ·
      <a href="/tags/math">{{ translateKeyword .Lang "math" }}</a> ·
      <a href="/tags/milwaukee">{{ translateKeyword .Lang "milwaukee" }}</a> ·
      <a href="/tags/personal">{{ translateKeyword .Lang "personal" }}</a> ·
      <a href="/tags/updates">{{ translateKeyword .Lang "updates" }}</a>
    </nav>
  </div>
  <div class="tags">
    <h4>
      {{ translate .Lang
      "search by language"
      "buscar por idioma"
      "nach sprache suchen" }}:
    </h4>
    <nav>
      <a href="/tags/english">{{ translateKeyword .Lang "english" }}</a> ·
      <a href="/tags/spanish">{{ translateKeyword .Lang "spanish" }}</a> ·
      <a href="/tags/german">{{ translateKeyword .Lang "german" }}</a>
    </nav>
  </div>
</details>
<ul>
  {{ range .Posts -}}
  <li><a href="{{ translatePath $.Lang "/posts" }}/{{ .FileName }}">{{ .Title }}</a></li>
  {{ end -}}
</ul>
{{end}}
