{{define "title"}}TODO{{end}}
{{define "path"}}/todo{{end}}
{{define "description"}}todo My name is Ángel Castañeda, and I'm an undergrad student based out of Milwaukee, WI. My main field of study is actuarial science, but I like learning way more than just that.{{end}}
{{define "keywords"}}todo{{end}}

{{define "main"}}
<h2>
  todo
</h2>
<p>
  Thanks to <a href="https://j3s.sh/thought/my-website-is-one-binary.html" target="_blank" rel="noopener noreferrer">this blog
  post</a>, I translated my entire site to <a href="https://go.dev" target="_blank" rel="noopener noreferrer">GO!</a>
  and I've had a real time trying to port over everything I knew from nginx. Still, having a dynamic site is ×100 cooler B-) 
</p>
<p>
  I'll do my best to make this list smaller and have less redirects to it overall. Unfortunately, everytime I dream up some
  new, insane feature, it'll go here...
</p>
<ul class="todo">
  <li>FIND OUT HOW TO CONVERT .RMD -&gt .TMPL.HTML (<em>I'll give top dollar to anyone actually able to teach me this</em>)</li>
  <li>Make RSS feed[s]</li>
  <li>Fill in site</li>
  <li>Make solid look</li>
  <li><s>Make mobile friendly</s></li>
  <li><s>Add dark mode</s></li>
  <li>Get new favicon</li>
  <li>Port over all photo posts</li>
  <li>Upload résumé and TeX file</li>
  <li><s>figure out TeX functionality</s></li>
  <li>Add <em>actuarial</em> TeX functionality</li>
  <li>Make tags page and menu</li>
  <li>Make lang buttons functional</li>
  <li><s>Remove .html in url</s></li>
  <li><s>Absolute file paths</s></li>
  <li>Set up 301 redirects from normal to www. subdomain</li>
  <li>Get epic seo</li>
  <li><s>Make fancy error pages</s></li>
  <li>Fully fill in other languages</li>
  <li><s>Make git server</s></li>
  <li>Make lasting git server through golang instead of nginx instance</li>
  <li>Make OpenBSD mail server</li>
  <li>Make gpg guide and make my own to last for a while</li>
  <li>Avoid JS as much as I can</li>
</ul>
{{end}}
