{{define "title"}}Did Lorem Ipsum{{end}}
{{define "path"}}/posts/did_lorem_ipsum_go_too_far{{end}}
{{define "description"}}The coolest day in the entire world{{end}}
{{define "keywords"}}cool epic great{{end}}

{{define "main"}}
<article>
  <h2>Did Lorem Ipsum</h2>
  <p>paragraph 1</p>
  <h1 class="cool" id="great">this is cool</h1>
  <p class="cool">
  paragraph 2
  </p>
  <p>Some inline math <span class="math inline">\frac{1}{2}</span>{#great}</p>
  <figure>
  <img src="/path/to/img" title="title I think" class="cool" alt="alt text" />
  <figcaption>caption</figcaption>
  </figure>
  <time datetime="2001-08-31">Friday, August 31, 2001</time>
</article>
{{end}}
