{{define "title"}}{{ .Post.Title }}{{end}}
{{define "description"}}I went to a weird park with my roommate and took this pic of a branch there.{{end}}
{{define "keywords"}}photos english{{end}}

{{define "main"}}
<article>
  <h2>natural log</h2>
  <figure>
    <img src="https://preview.redd.it/zxw0z49sf2181.jpg?width=1024&amp;auto=webp&amp;v=enabled&amp;s=ec5260e1d2adf978777f16e535bdcc99fe592b84" title="ln(e^a) = a" alt="photo of bare, dead branch in front of goo pond" />
  </figure>
  <time datetime="2021-11-21">{{ translateDate .Lang .Post.Date }}</time>
  <div class="tags">
    <h4>
      {{ translateKeyword .Lang "tags" }}:
    </h4>
    <nav>
      {{ range $index, $tag := .Post.Tags }}
      <a href="/tags/{{ $tag }}">{{ translateKeyword $.Lang $tag }}</a> {{ if not (lastOne $index (len $.Post.Tags)) }}·{{ end }}
      {{ end }}
    </nav>
  </div>
</article>
{{end}}
