{{define "title"}}Placeholder Madness{{end}}
{{define "path"}}/posts/placeholder_madness{{end}}
{{define "description"}}This is a fake article :O{{end}}
{{define "keywords"}}milwaukee article{{end}}

{{define "main"}}
<article>
  <h2>Placeholder Madness</h2>
  <h1 class="center">this is a test</h1>
  <p>I worked really hard to get my links working the way they’re supposed to.</p>
  <p><a href="https://j3s.sh" target="_blank" rel="noopener noreferrer">like this</a> or <a href="mailto:angel@acsq.me">this one for my email</a> or <a href="http://johnbilkey.com" target="_blank" rel="noopener noreferrer">or this one</a></p>
  <p>another paragraph</p>
  <p>another one</p>
  <time datetime="2023-07-02">Sunday, July 02, 2023</time>
</article>
{{end}}
