{{define "title"}}{{ .Post.Title }}{{end}}
{{define "description"}}This is a fake article :O{{end}}
{{define "keywords"}}milwaukee personal{{end}}

{{define "main"}}
<article>
  <h2>{{ .Post.Title }}</h2>
  <h1 class="center">this is a test</h1>
  <p>I worked really hard to get my links working the way they’re supposed to.</p>
  <p><a href="https://j3s.sh" target="_blank" rel="noopener noreferrer">like this</a> or <a href="mailto:angel@acsq.me">this one for my email</a> or <a href="http://johnbilkey.com" target="_blank" rel="noopener noreferrer">or this one</a></p>
  <p>another paragraph</p>
  <p>another one</p>
  <time datetime="2023-07-02">Sunday, July 02, 2023</time>
  <div class="tags">
    <h4>tags:</h4>
    <nav>
      {{ range .Post.Tags }}
      <a href="/tags/{{ . }}">{{ . }}</a>
      {{ end }}
    </nav>
  </div>
</article>
{{end}}
