{{define "title"}}The Importance of Fake Content{{end}}
{{define "path"}}/posts/the_importance_of_fake_content{{end}}
{{define "description"}}Just another test thing to figure out how to iron out this tagging system{{end}}
{{define "keywords"}}photo history{{end}}

{{define "main"}}
<article>
  <h2>The Importance of Fake Content</h2>
  <p>paragraph 1</p>
  <h4 class="cool" id="great">this is cool</h4>
  <p class="cool">
  paragraph 2
  </p>
  <p>Some inline math <span class="math inline">\frac{1}{2}</span>{#great}</p>
  <figure>
  <img src="/path/to/img" title="title I think" class="cool" alt="alt text" />
  <figcaption>caption</figcaption>
  </figure>
  <time datetime="1865-06-19">Monday, June 19, 1865</time>
  
</article>
{{end}}
