{{define "title"}}{{ .Title }}{{end}}
{{define "path"}}/posts/{{ .FileName }}{{end}}
{{define "description"}}Just another test thing to figure out how to iron out this tagging system{{end}}
{{define "keywords"}}photos history{{end}}

{{define "main"}}
<article>
  <h2>{{ .Title }}</h2>
  <p>paragraph 1</p>
  <h4 class="cool" id="great">this is cool</h4>
  <p class="cool">
  paragraph 2
  </p>
  <p>Some inline math <span class="math inline">\frac{1}{2}</span>{#great}</p>
  <figure>
  <img src="/path/to/img" title="title I think" class="cool" alt="alt text" />
  <figcaption>caption</figcaption>
  </figure>
  <time datetime="1865-06-19">Monday, June 19, 1865</time>
  <div class="tags">
    <h4>tags:</h4>
    <nav>
      {{ range .Tags }}
      <a href="/tags/{{ . }}">{{ . }}</a>
      {{ end }}
    </nav>
  </div>
</article>
{{end}}
