{{define "title"}}{{ .Title }}{{end}}
{{define "path"}}/posts/{{ .FileName }}{{end}}
{{define "description"}}This is a crazy day that happened with adventures, excitement, and kitten…{{end}}
{{define "keywords"}}history articles photos{{end}}

{{define "main"}}
<article>
  <h2>{{ .Title }}</h2>
  <h1>in the beginning</h1>
  <p>palmer met kitten</p>
  <h2>so we had an adventure together…</h2>
  <p><span class="math display">\frac{-b + \sqrt{b^2 - 4 a c}}{2a}</span></p>
  <p>there weren’t <em>actually</em> equations involved.</p>
  <h3>until there were</h3>
  <p>this is <em>half</em> of the quadratic formula. The rest is missing a <strong>minus</strong>.</p>
  <p>check out this <a href="https://alexscerba.com" target="_blank" rel="noopener noreferrer">site</a></p>
  <figure>
  <img src="/static/img/cool.jpg" alt="some alt test" />
  <figcaption aria-hidden="true">some alt test</figcaption>
  </figure>
  <time datetime="2005-06-04">Saturday, June 04, 2005</time>
  <div class="tags">
    <h4>tags:</h4>
    <nav>
      {{ range .Tags }}
      <a href="/tags/{{ . }}">{{ . }}</a>
      {{ end }}
    </nav>
  </div>
</article>
{{end}}
