{{define "title"}}{{ .Post.Title }}{{end}}
{{define "description"}}Took a pic of this interesting rocky/icy shoreline.{{end}}
{{define "keywords"}}photos milwaukee english{{end}}

{{define "main"}}
<article>
  <h2>{{ .Post.Title }}</h2>
  <p><img src="https://preview.redd.it/jdoz0wwueid81.jpg?width=1024&amp;auto=webp&amp;v=enabled&amp;s=ddc97bed03ccca71f8559c82b3338ed8791ed9b4" alt="photo of a pretty chunk of ice" /></p>
  <time datetime="2022-01-23">{{ translateDate .Lang .Post.Date }}</time>
  <div class="tags">
    <h4>
      {{ translateKeyword .Lang "tags" }}:
    </h4>
    <nav>
      {{ range $index, $tag := .Post.Tags }}
      <a href="/tags/{{ $tag }}">{{ translateKeyword $.Lang $tag }}</a> {{ if not (lastOne $index (len $.Post.Tags)) }}·{{ end }}
      {{ end }}
    </nav>
  </div>
</article>
{{end}}
