{{define "title"}}{{ translateKeyword .Lang "english" }}{{end}}
{{define "description"}}For my English posts.{{end}}
{{define "keywords"}}{{ translateKeyword .Lang "english" }}{{end}}

{{define "main"}}
<div class="rss">
  <h2>
    {{ translateKeyword .Lang "english" }}
  </h2><a href="/todo"><img src="/static/img/rss.svg" alt="RSS Logo" class="rss"></a>
</div>
<p>
  For my English posts.
</p>
<ul>
  {{ range .Posts -}}
  <li><a href="/posts/{{ .FileName }}">{{ .Title }}</a></li>
  {{ end -}}
</ul>
{{end}}
