{{define "title"}}{{ translateKeyword .Lang "history" }}{{end}}
{{define "description"}}Anything cool related to the past I wanna talk about.{{end}}
{{define "keywords"}}{{ translateKeyword .Lang "history" }}{{end}}

{{define "main"}}
<div class="rss">
  <h2>{{ translateKeyword .Lang "history" }}</h2><a href="/todo"><img src="/static/img/rss.svg" alt="RSS Logo" class="rss"></a>
</div>
<p>
  Anything cool related to the past I wanna talk about.
</p>
<ul>
  {{ range .Posts -}}
  <li><a href="/posts/{{ .FileName }}">{{ .Title }}</a></li>
  {{ end -}}
</ul>
{{end}}
