{{define "title"}}{{ translateKeyword .Lang "milwaukee" }}{{end}}
{{define "description"}}Where I get to talk about the coolest city in the midwest.{{end}}
{{define "keywords"}}{{ translateKeyword .Lang "milwaukee" }}{{end}}

{{define "main"}}
<div class="rss">
  <h2>{{ translateKeyword .Lang "milwaukee" }}</h2><a href="/todo"><img src="/static/img/rss.svg" alt="RSS Logo" class="rss"></a>
</div>
<p>
  Where I get to talk about the coolest city in the midwest.
</p>
<ul>
  {{ range .Posts -}}
  <li><a href="/posts/{{ .FileName }}">{{ .Title }}</a></li>
  {{ end -}}
</ul>
{{end}}
