{{define "title"}}{{ translateKeyword .Lang "technology" }}{{end}}
{{define "description"}}{{ translate .Lang 
  "For posts connected to tech and info affecting our lives."
  "Para entradas sobre tecnologia y información."
  "Für Technologie und Informatik." }}{{end}}
{{define "keywords"}}{{ translateKeyword .Lang "technology" }}{{end}}

{{define "main"}}
<h2>{{ translateKeyword .Lang "technology" }}</h2>
<p>
  {{ template "description" . }}
</p>
<ul>
  {{ range .Posts -}}
  <li><a href="/posts/{{ .FileName }}">{{ .Title }}</a></li>
  {{ end -}}
</ul>
{{end}}
