{{ define "footer" }}
<nav class="center">
  <span>
    {{ translate .Lang "lang" "idioma" "sprache" }}:
  </span>
  [<a href="
    {{- .Scheme -}}://{{- translateHost "en-US" .Domain -}}{{ translatePath "en-US" .Path }} ">en</a>/<a href="{{- .Scheme -}}://{{- translateHost "es-US" .Domain -}}{{ translatePath "es-US" .Path }} ">es</a>/<a href="{{- .Scheme -}}://{{- translateHost "de-DE" .Domain -}}{{ translatePath "de-DE" .Path }}">de</a>]
  ·
  <br class="mobile">
  <address>
    <span>
      {{ translateKeyword .Lang "contact" }}:
    </span>
    [<a href="mailto:angelaxel1420@disroot.org">email</a>/<a href="/todo">pgp</a>/<a href="xmpp:angelaxel1420@disroot.org">xmpp</a>]
  </address>
</nav>
{{ end }}
