@font-face {
  font-family: 'IBMPlexMono';
  src: 
    local('IBM Plex Mono Regular'),
    url('/static/fonts/IBMPlexMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: 
    local('IBM Plex Mono Italic'),
    url('/static/fonts/IBMPlexMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: 
    local('IBM Plex Mono Bold'),
    url('/static/fonts/IBMPlexMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: 
    local('IBM Plex Mono Bold Italic'),
    url('/static/fonts/IBMPlexMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

:root {
  --body-color: #000000;
  --bg-color: #FFFFFF;
  --hyperblue: #005F87;
  --hoverorange: #D75F00;
}

@media (prefers-color-scheme:dark) {
  :root {
    --bg-color: #000000;
    --body-color: #FFFFFF;
    --hyperblue: #7DCEF0;
    --hoverorange: #FF7100;
  }
}

body {
  font-family: IBMPlexMono, monospace;
  font-size: max(15pt, 100%);
  max-width: 700px;
  margin: 0.7em auto;
  background-color: var(--bg-color);
  color: var(--body-color);
  padding: 0 1em;
}

img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0em auto;
}

.inline {
  display: inline;
}

li * {
  vertical-align: text-top;
}

/* h1 { */
/*   font-size: 1.6em; */
/* } */

/* h2 { */
/*   font-size: 1.3em; */
/* } */

p {
  text-align: justify;
}

details p {
  margin: 0em;
}

address {
  font-style: normal;
  display: inline;
}

footer a {
  font-weight: bold;
}

article time {
  text-align: right;
  display: block;
  font-style: italic;
}

.bookcover {
  width: 20%;
  min-width: 100px;
  height: auto;
  float: right;
  margin: 0em;
  padding: 0em;
  margin-left: 1em;
}

.pfp {
  width: 20%;
  min-width: 90px;
  height: auto;
  float: left;
  margin: 0em 1em;
  padding: 0em;
}

.pfp img {
  border: 1.5px solid #777;
}

.pfp figcaption {
  font-size: 0.9em;
}

.loc {
  width: 25%;
}

figcaption, .center {
  text-align: center;
}

.block {
  display: block;
}

.double {
  display: flex;
  column-gap: 0em;
  flex-direction: row;
}

.pane {
  flex: 1 1 0;
}

table.favicon {
  margin: 0em auto;
}

table.favicon img, img.favicon {
  width: 1.6em;
  height: auto;
  display: inline;
}

.right {
  text-align: right;
}

::-moz-selection {
  background: var(--hyperblue);
  color: var(--bg-color);
}

/* this will only work separated for some reason... */
::selection { 
  background: var(--hyperblue);
  color: var(--bg-color);
}

a:link, a:visited  {
/*  text-decoration: none;*/
  color: var(--hyperblue);
}

a:active, a:hover  {
  text-decoration: underline;
  color: var(--hoverorange);
}

.library em, .todo s, .orange {
  color: var(--hoverorange);
}

.rss h2 {
  display: inline-block;
  margin-right: 0.2em;
}

.rss img, .favicon img {
  width: 0.8em;
  height: auto;
  display: inline;
}

.friend h4 {
  display: inline;
  margin-right: 0.2em;
  text-decoration: underline;
}

.friend p {
  margin-top: 0em;
}

.friend a {
  text-decoration: none;
}

.tags {
  margin: 1em auto;
}

.tags > * {
  display: block;
  text-align: center;
  margin: 0em auto;
}

.filter h4, .filter nav {
  text-align: left;
  margin: 0em 0em 0em 40px;
}

.mobile {
  display: none;
}

@media only screen and (max-width:650px) {
  .double {
    flex-direction: column;
  }
  .mobile {
    display: block;
  }  
  .bookcover, .pfp, .loc {
    float: none;
    margin: 1em auto;
    width: 60%;
  }
  .loc {
    width: 75%;
  }
  .filter h4, .filter nav {
    text-align: center;
    margin: 0em auto;
  }
}
